version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:6.0-alpine

  celery:
    build: .
    command: ["celery", "-A", "config", "worker", "--loglevel=info"]
    volumes:
      - ./src:/app
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    command: ["celery", "-A", "config", "beat", "--loglevel=info"]
    volumes:
      - ./src:/app
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
