{% extends "base.html" %}

{% block title %}Añadir autor{% endblock title %}

{% block content %}
<main class="news__dtl">
  <div class="container">
    <section class="gral__forms matchHeight">
      <h1>Gestión de Autor</h1>
      <form method="post" class="form__gral">
        {% csrf_token %}
        <div class="field">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </div>
        <div class="field">
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </div>
        <div class="field">
          {{ form.email.label_tag }}
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div class="field">
          <button type="submit" class="btn">Guardar</button>
        </div>
      </form>
    </section>
  </div>
</main> 
{% endblock content %}