<nav class="hdr__navbar">
  <div class="container">
    <div class="toggle"><a href="#" class="toggleMenu">Menu</a></div>
    <ul class="nav">
      <li><a href="/">Inicio</a></li>
      <li>
        <a href="#">Secciones</a>				
        <ul>
          <li><a href="#">Todos</a></li>        
          <li><a href="#">Categoría</a></li>	
        </ul>
      </li>
      <li><a href="#">Columnas</a></li>
      <li><a href="#">Clasificados</a></li>
      <li><a href="#">Bolsa de Trabajo</a></li>
      <li><a href="#" class="the__last">Contacto</a></li> 
      <li><a href="#" class="the__last the__login">Registrate</a></li>
    </ul>
  </div>
</nav>