{% extends "base.html" %}

{% load static %}

{% block title %}Noticias Cd. del Carmen | Sensor Informativo{% endblock title %}

{% block css %}
<link href="{% static 'css/Modal/responsive.min.css' %}" rel="stylesheet">
<link href="{% static 'css/noticias.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<main class="index__content">
  <div class="container">
    <section class="gral__list matchHeight">
      <section class="list__flex" id="infinite-container">
      {% for news_obj in news %}
        <article class="article-flex">
          <img src="{{ news_obj.cover.url }}" alt="{{ news_obj.slug }}">
          <header>
            <p class="article__cat"><a href="#" target="_blank">{{ news_obj.category }}</a></p>
            <h1 class="article__title"><a href="{% url 'news:detail_news' news_obj.slug %}" target="_blank">{{ news_obj.title }}</a></h1>
            <p class="article__author">Por: {{ news_obj.author }}</p>
            <p class="article__date">{{ news_obj.created }}</p>
          </header>
        </article>
      {% endfor %}
      </section>
      {% if news.has_other_pages %}
        <div class="pagination">
            {% if news.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ news.previous_page_number }}">Anterior</a>
            {% endif %}
            {% for num in news.paginator.page_range %}
                {% if news.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}">Siguiente</a>
                <a href="?page={{ news.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    </section>
    {% include '_layouts/sponsors.html' %}
  </div>
</main>
{% endblock content %}