.container {
  position: relative !important;
}
.list__flex {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
}

.article-flex {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

.article-flex img {
  width: 100%;
}

.article__cat {
  margin: 10px 0 5px 0;
}

.article__cat a {
  background-color: #f88535;
  color: #fff;
  font-size: 18px;
  padding: 4px 20px;
}

.article__cat a:hover {
  color: #565656;
}

.article__title {
  color: #454545;
  font-size: 26px;
  margin-bottom: 10px;
}

.article__title a {
  text-decoration: none;
  color: inherit;
}

.article__title a:hover {
  color: #f88535;
}

.article__author,
.article__date {
  font-size: 16px;
  color: #454545;
}
.article__author {
  float: left;
}
.article__date {
  float: right;
}
footer {
  display: none;
}
#main__sponsors {
  height: 900px !important;
}
@media only screen and (max-width: 767px) {
  #main__sponsors  {
    display: none;
  }
}
